name: Build Stealth Frida (Latest)

on:
  workflow_dispatch:
    inputs:
      prefix:
        description: "Stealth prefix (e.g. Banana)"
        default: Banana
      port_control:
        description: "Control port"
        default: "27043"
      port_cluster:
        description: "Cluster port"
        default: "27053"

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Free disk space
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          docker-images: true
          large-packages: true

      - name: Checkout stealth repo
        uses: actions/checkout@v4
        with:
          path: stealth

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Python deps
        run: pip install lief

      - name: Setup Android NDK
        uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r25c

      - name: Clone latest Frida
        run: |
          git clone --recurse-submodules https://github.com/frida/frida.git
          cd frida
          git checkout $(git tag --sort=-v:refname | head -n 1)

      - name: Apply Stealth Patches
        run: |
          python stealth/apply-stealth.py \
            --prefix "${{ inputs.prefix }}" \
            --port-control "${{ inputs.port_control }}" \
            --port-cluster "${{ inputs.port_cluster }}"

      - name: Disable Frida Gum Tests
        run: |
          # This command comments out "subdir('tests')" in the build file.
          # This prevents the compiler from trying to build the broken tests.
          sed -i "s/subdir('tests')/# subdir('tests')/g" frida/subprojects/frida-gum/meson.build
      # 8. Build Frida
      - name: Build Core (Android Arm64)
        env:
          ANDROID_NDK_ROOT: ${{ steps.setup-ndk.outputs.ndk-path }}
        run: |
          cd frida
          ./configure --host=android-arm64
          cd build
          ninja


      - name: Obfuscate binaries
        run: |
          cd frida

          AAF="subprojects/frida-core/src/anti-anti-frida.py"

          AGENT=$(find build -name "*agent*.so" | head -n 1)
          GADGET=$(find build -name "*gadget*.so" | head -n 1)
          SERVER=$(find build -name "*server" | head -n 1)
          INJECT=$(find build -name "*inject" | head -n 1)
          PORTAL=$(find build -name "*portal" | head -n 1)

          python "$AAF" $AGENT $GADGET $SERVER $INJECT $PORTAL

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: stealth-frida-latest-arm64
          path: frida/build/**/*
